---

networks:
  dozzle:
    driver: overlay

services:
  dozzle:
    image: ghcr.io/amir20/dozzle:latest
    environment:
      - DOZZLE_MODE=swarm
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080
    networks:
      - dozzle
    deploy:
      mode: global